.navButton {
    margin-right: 10px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-style: none;
    font-size: 30px;
    position: relative;
    padding-bottom: 10px;
}