.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 800px;
    border-radius: 5%;
    margin: 20px;
}