.li {
    display: inline-block;
    list-style: none;
    margin: 20px;
    width: 500px;
    height: 800px;
}

.poster {
    width: 70%;
    height: 70%;
    border-radius: 5%;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}