.movies-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.movies-container--light-theme {
  background-color: rgba(232, 232, 232, 0.883);

  & .card {
    color: $dark-color;
    background-color: $light-color;
  }

  & .page-nav__buttons {
    & button {
      background-color: $dark-color;
      color: $light-color;

      &:hover {
        background-color: transparent;
        color: $dark-color;
        border-color: $dark-color;
      }
    }
  }

  & .page-nav__index {
    color: var(--dark-color);
    border-color: var(--dark-color);
  }
}
